<div class="main-container">

  <!----------------------------------------------------------------------------
    TOP MENU
  ----------------------------------------------------------------------------->
  <mat-toolbar color="primary">
    <!-- Toggle button for side menu. -->
    <button mat-icon-button (click)="onClickMenuButton(sidenav)">
      <mat-icon>menu</mat-icon>
    </button>

    <!-- Application title -->
    <span>{{ appProperty.title }}</span>

    <!-- Spacer -->
    <span class="top-menu-spacer"></span>

    <!-- Log-in / Log-out -->
    <button mat-icon-button *ngIf="!appProperty.status.login" (click)="onClickLoginButton()">
      <mat-icon>login</mat-icon>
    </button>
    <button mat-icon-button *ngIf="appProperty.status.login" (click)="onClickLogoutButton()">
      <mat-icon>logout</mat-icon>
    </button>

    <!-- Setting icon. -->
    <button mat-icon-button (click)="onClickSettingsButton()">
      <mat-icon>settings</mat-icon>
    </button>
  </mat-toolbar>


  <!----------------------------------------------------------------------------
    SIDE MENU
  ----------------------------------------------------------------------------->
  <mat-sidenav-container class="example-container">
    <mat-sidenav #sidenav mode="side" class="example-sidenav" [opened]="appProperty.status.sideMenu.opened">
      <nav>
        <div><a mat-button routerLink="/home">
            <mat-icon>home</mat-icon>ホーム
          </a></div>
        <div><a mat-button routerLink="/shiromusume-list">
            <mat-icon svgIcon="woman" style="transform: scale(1.2);"></mat-icon>城娘一覧
          </a></div>
        <div><a mat-button routerLink="/shiromusume-new">
            <mat-icon>note_add</mat-icon>城娘登録
          </a></div>
      </nav>
    </mat-sidenav>

    <mat-sidenav-content>
      <div class="main-content">
        <router-outlet></router-outlet>
      </div>

    </mat-sidenav-content>
  </mat-sidenav-container>

  <!----------------------------------------------------------------------------
    STATUS BAR
  ----------------------------------------------------------------------------->
  <div class="footer">
    Footer area
  </div>
</div>
