.main-container {
  display: grid;
  grid-template-rows: auto 1fr auto;
  height: 100%;
}

.top-menu-spacer {
  flex: 1 1 auto;
}

.example-container {
  background-color: lightgreen;
}

.example-sidenav {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.main-content {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.footer {
  background-color: aqua;
}
